<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>CreationAdministrateur</servlet-name>
    <servlet-class>servlets.CreationAdministrateur</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ConnectionInitiale</servlet-name>
    <servlet-class>servlets.ConnectionInitiale</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CreationUtilisateur</servlet-name>
    <servlet-class>servlets.CreationUtilisateur</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListerUtilisateurs</servlet-name>
    <servlet-class>servlets.ListerUtilisateurs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConnectionUtilisateur</servlet-name>
    <servlet-class>servlets.ConnectionUtilisateur</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeconnectionSession</servlet-name>
    <servlet-class>servlets.DeconnectionSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjouterUnProjet</servlet-name>
    <servlet-class>servlets.AjouterUnProjet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>AjouterUneAnomalie </servlet-name>
    <servlet-class>servlets.AjouterUneAnomalie </servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CreationAdministrateur</servlet-name>
    <url-pattern>/creationAdministrateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConnectionInitiale</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationUtilisateur</servlet-name>
    <url-pattern>/creationUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListerUtilisateurs</servlet-name>
    <url-pattern>/listeUtilisateurs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConnectionUtilisateur</servlet-name>
    <url-pattern>/connectionUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeconnectionSession</servlet-name>
    <url-pattern>/Deconnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjouterUnProjet</servlet-name>
    <url-pattern>/projets</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AjouterUneAnomalie</servlet-name>
    <url-pattern>/anomalies</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>